<a href="https://colab.research.google.com/github/binhluong84/Machine-Learning/blob/main/LendingClub_Loan_Grade_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

import tensorflow as tf

In [ ]:
#Connect Google Drive
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
data = pd.read_csv('/gdrive/MyDrive/All Lending Club loan/accepted_2007_to_2018Q4.csv.gz', compression='gzip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,88985880,NaN,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260697,88224441,NaN,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,C4,...,NaN,NaN,Cash,Y,Mar-2019,ACTIVE,Mar-2019,10000.0,44.82,1.0
2260698,88215728,NaN,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Cutting the data in half to avoid out-of-memory issues

data = data.sample(frac=0.5, axis=0, random_state=42).reset_index(drop=True)

In [ ]:
data.isna().mean().sort_values()

id                                            0.000000
fico_range_high                               0.000017
hardship_flag                                 0.000017
revol_bal                                     0.000017
initial_list_status                           0.000017
                                                ...
hardship_reason                               0.995193
hardship_dpd                                  0.995193
hardship_loan_status                          0.995193
orig_projected_additional_accrued_interest    0.996196
member_id                                     1.000000
Length: 151, dtype: float64

In [ ]:
data = data.drop(data.loc[:, data.isna().mean().sort_values() > 0.3].columns, axis=1)

In [ ]:
data

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,39651438,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,B3,Public Service,...,28.6,0.0,0.0,556496.0,103647.0,64100.0,72197.0,N,Cash,N
1,16411620,9600.0,9600.0,9600.0,36 months,12.99,323.42,C,C1,NaN,...,50.0,1.0,0.0,11600.0,4509.0,2400.0,0.0,N,Cash,N
2,45122316,4000.0,4000.0,4000.0,36 months,6.68,122.93,A,A3,System Analyst,...,0.0,0.0,0.0,222616.0,64253.0,5600.0,76154.0,N,Cash,N
3,125356772,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,B4,Admin assistant,...,0.0,0.0,0.0,32227.0,5559.0,11000.0,11127.0,N,Cash,N
4,128490686,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,E5,Coordinator,...,10.0,0.0,0.0,257219.0,97647.0,179400.0,65719.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130345,8581088,12000.0,12000.0,12000.0,60 months,15.61,289.34,C,C3,Loan Officer,...,50.0,0.0,0.0,355441.0,47127.0,41800.0,15241.0,N,Cash,N
1130346,5646193,19750.0,19750.0,19750.0,36 months,17.27,706.80,C,C5,Albert Restaurant Group,...,100.0,0.0,0.0,279063.0,56961.0,3600.0,46901.0,N,Cash,N
1130347,9294954,11325.0,11325.0,11325.0,60 months,18.55,290.98,D,D2,manager,...,0.0,0.0,0.0,149577.0,46878.0,20800.0,45490.0,N,Cash,N
1130348,59249382,5450.0,5450.0,5450.0,36 months,14.65,188.00,C,C5,Custodian,...,0.0,0.0,0.0,169570.0,26843.0,3200.0,0.0,N,Cash,N
1130349,52229781,10000.0,10000.0,10000.0,36 months,12.29,333.53,C,C1,A/C,...,100.0,1.0,0.0,28803.0,22560.0,4200.0,22103.0,N,Cash,N

In [ ]:
data = data.dropna(axis=0).reset_index(drop=True)

In [ ]:
data

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,39651438,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,B3,Public Service,...,28.6,0.0,0.0,556496.0,103647.0,64100.0,72197.0,N,Cash,N
1,125356772,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,B4,Admin assistant,...,0.0,0.0,0.0,32227.0,5559.0,11000.0,11127.0,N,Cash,N
2,128490686,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,E5,Coordinator,...,10.0,0.0,0.0,257219.0,97647.0,179400.0,65719.0,N,Cash,N
3,88273234,20000.0,20000.0,20000.0,36 months,9.49,640.57,B,B2,Manager,...,60.0,0.0,0.0,322295.0,33695.0,23900.0,29995.0,N,Cash,N
4,88725013,24575.0,24575.0,24575.0,60 months,14.49,578.08,C,C4,Manager,...,80.0,0.0,0.0,70820.0,54296.0,17300.0,47920.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826525,78228930,35000.0,35000.0,35000.0,36 months,15.31,1218.61,C,C5,police officer,...,66.7,0.0,0.0,137307.0,23860.0,9200.0,15207.0,N,Cash,N
826526,5646193,19750.0,19750.0,19750.0,36 months,17.27,706.80,C,C5,Albert Restaurant Group,...,100.0,0.0,0.0,279063.0,56961.0,3600.0,46901.0,N,Cash,N
826527,9294954,11325.0,11325.0,11325.0,60 months,18.55,290.98,D,D2,manager,...,0.0,0.0,0.0,149577.0,46878.0,20800.0,45490.0,N,Cash,N
826528,59249382,5450.0,5450.0,5450.0,36 months,14.65,188.00,C,C5,Custodian,...,0.0,0.0,0.0,169570.0,26843.0,3200.0,0.0,N,Cash,N
826529,52229781,10000.0,10000.0,10000.0,36 months,12.29,333.53,C,C1,A/C,...,100.0,1.0,0.0,28803.0,22560.0,4200.0,22103.0,N,Cash,N

In [ ]:
data.isna().sum().sum()

0

In [ ]:
data

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,39651438,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,B3,Public Service,...,28.6,0.0,0.0,556496.0,103647.0,64100.0,72197.0,N,Cash,N
1,125356772,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,B4,Admin assistant,...,0.0,0.0,0.0,32227.0,5559.0,11000.0,11127.0,N,Cash,N
2,128490686,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,E5,Coordinator,...,10.0,0.0,0.0,257219.0,97647.0,179400.0,65719.0,N,Cash,N
3,88273234,20000.0,20000.0,20000.0,36 months,9.49,640.57,B,B2,Manager,...,60.0,0.0,0.0,322295.0,33695.0,23900.0,29995.0,N,Cash,N
4,88725013,24575.0,24575.0,24575.0,60 months,14.49,578.08,C,C4,Manager,...,80.0,0.0,0.0,70820.0,54296.0,17300.0,47920.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826525,78228930,35000.0,35000.0,35000.0,36 months,15.31,1218.61,C,C5,police officer,...,66.7,0.0,0.0,137307.0,23860.0,9200.0,15207.0,N,Cash,N
826526,5646193,19750.0,19750.0,19750.0,36 months,17.27,706.80,C,C5,Albert Restaurant Group,...,100.0,0.0,0.0,279063.0,56961.0,3600.0,46901.0,N,Cash,N
826527,9294954,11325.0,11325.0,11325.0,60 months,18.55,290.98,D,D2,manager,...,0.0,0.0,0.0,149577.0,46878.0,20800.0,45490.0,N,Cash,N
826528,59249382,5450.0,5450.0,5450.0,36 months,14.65,188.00,C,C5,Custodian,...,0.0,0.0,0.0,169570.0,26843.0,3200.0,0.0,N,Cash,N
826529,52229781,10000.0,10000.0,10000.0,36 months,12.29,333.53,C,C1,A/C,...,100.0,1.0,0.0,28803.0,22560.0,4200.0,22103.0,N,Cash,N

In [ ]:
unneeded_columns = ['id', 'sub_grade', 'emp_title', 'url', 'title', 'zip_code']

In [ ]:
unneeded_columns

['id', 'sub_grade', 'emp_title', 'url', 'title', 'zip_code']

In [ ]:
{column: list(data[column].unique()) for column in data.drop(unneeded_columns, axis=1).columns if data.dtypes[column] == 'object'}

{'term': [' 60 months', ' 36 months'],
 'grade': ['B', 'E', 'C', 'A', 'D', 'F', 'G'],
 'emp_length': ['10+ years',
  '5 years',
  '7 years',
  '2 years',
  '1 year',
  '< 1 year',
  '4 years',
  '6 years',
  '3 years',
  '9 years',
  '8 years'],
 'home_ownership': ['MORTGAGE', 'RENT', 'OWN', 'ANY', 'NONE', 'OTHER'],
 'verification_status': ['Verified', 'Not Verified', 'Source Verified'],
 'issue_d': ['Feb-2015',
  'Dec-2017',
  'Feb-2018',
  'Aug-2016',
  'Oct-2016',
  'Jan-2018',
  'Jan-2015',
  'Sep-2014',
  'May-2015',
  'Apr-2016',
  'Sep-2016',
  'Oct-2017',
  'Jun-2015',
  'Jun-2013',
  'Oct-2013',
  'Jul-2017',
  'May-2018',
  'Jan-2013',
  'Jan-2017',
  'Nov-2018',
  'Jul-2014',
  'Sep-2018',
  'Aug-2017',
  'Oct-2015',
  'Jul-2016',
  'Aug-2018',
  'Aug-2015',
  'Sep-2015',
  'Feb-2017',
  'Mar-2017',
  'Mar-2018',
  'Nov-2014',
  'Mar-2013',
  'Oct-2014',
  'Apr-2015',
  'Feb-2014',
  'Nov-2017',
  'Apr-2013',
  'May-2013',
  'Mar-2014',
  'Jul-2018',
  'Dec-2016',
  'Jul-2013',
  'Apr-2017',
  'Jun-2016',
  'May-2017',
  'Dec-2018',
  'Jan-2014',
  'Jun-2014',
  'Dec-2015',
  'Jun-2018',
  'Dec-2012',
  'Aug-2014',
  'Oct-2018',
  'Mar-2016',
  'Apr-2018',
  'Sep-2017',
  'Jun-2017',
  'Mar-2015',
  'Nov-2015',
  'Nov-2016',
  'May-2014',
  'Aug-2013',
  'Oct-2012',
  'May-2016',
  'Jul-2015',
  'Dec-2014',
  'Jan-2016',
  'Sep-2013',
  'Feb-2016',
  'Dec-2013',
  'Nov-2013',
  'Feb-2013',
  'Apr-2014',
  'Sep-2012',
  'Nov-2012',
  'Aug-2012'],
 'loan_status': ['Current',
  'Fully Paid',
  'Charged Off',
  'Late (31-120 days)',
  'Late (16-30 days)',
  'In Grace Period',
  'Default'],
 'pymnt_plan': ['n', 'y'],
 'purpose': ['debt_consolidation',
  'credit_card',
  'house',
  'small_business',
  'major_purchase',
  'home_improvement',
  'other',
  'medical',
  'car',
  'renewable_energy',
  'moving',
  'vacation',
  'wedding',
  'educational'],
 'addr_state': ['CA',
  'MA',
  'NV',
  'OH',
  'FL',
  'MI',
  'IN',
  'ID',
  'PA',
  'TX',
  'OR',
  'NY',
  'GA',
  'VA',
  'TN',
  'AL',
  'MD',
  'KY',
  'MN',
  'CO',
  'WY',
  'LA',
  'NJ',
  'AR',
  'AZ',
  'HI',
  'WI',
  'MS',
  'VT',
  'MO',
  'AK',
  'IL',
  'NC',
  'SC',
  'WV',
  'KS',
  'ND',
  'NE',
  'UT',
  'CT',
  'WA',
  'ME',
  'NH',
  'DE',
  'RI',
  'NM',
  'MT',
  'OK',
  'SD',
  'DC',
  'IA'],
 'earliest_cr_line': ['Oct-1981',
  'Jun-2005',
  'Jul-1999',
  'Aug-1990',
  'Feb-2007',
  'Mar-2006',
  'Nov-2004',
  'Mar-2003',
  'Sep-2000',
  'May-2002',
  'Sep-2004',
  'Apr-2004',
  'Oct-1991',
  'May-2007',
  'Nov-2006',
  'Jan-1993',
  'Jul-2001',
  'Nov-1992',
  'Nov-2002',
  'Dec-2004',
  'Jan-2005',
  'Nov-2000',
  'Oct-2013',
  'Jan-2011',
  'Jun-1996',
  'Oct-2005',
  'Dec-2001',
  'Apr-1992',
  'Mar-2004',
  'Oct-2004',
  'May-2006',
  'Aug-1997',
  'Sep-1994',
  'Oct-2001',
  'Jun-1999',
  'Nov-1977',
  'Nov-1996',
  'Feb-1994',
  'Oct-1999',
  'Dec-1999',
  'Apr-1973',
  'Dec-2006',
  'Jul-1998',
  'Mar-2011',
  'Apr-2005',
  'Dec-2000',
  'Nov-1998',
  'Nov-1993',
  'Sep-2003',
  'Aug-2004',
  'Apr-1998',
  'Jun-1997',
  'Mar-2005',
  'Aug-1991',
  'Nov-1999',
  'Jan-2008',
  'May-1995',
  'Oct-2000',
  'Dec-2002',
  'May-1993',
  'Jan-2003',
  'Aug-2007',
  'Feb-2008',
  'Jun-1993',
  'Oct-1995',
  'May-1996',
  'Sep-1979',
  'May-2001',
  'Jul-2002',
  'Aug-1988',
  'Jan-2004',
  'Mar-2007',
  'Aug-2012',
  'Dec-1996',
  'Apr-1991',
  'Aug-2008',
  'Oct-1993',
  'Aug-1984',
  'Jun-1985',
  'Oct-1997',
  'Feb-2004',
  'Feb-1995',
  'Apr-2006',
  'Sep-1993',
  'Jun-1991',
  'Mar-1993',
  'Aug-2005',
  'Feb-2011',
  'Feb-2003',
  'Aug-1994',
  'Nov-1991',
  'Jul-2003',
  'Nov-1994',
  'Jan-2007',
  'Jan-1970',
  'Jun-2004',
  'Aug-2002',
  'Dec-1985',
  'May-2008',
  'Dec-1995',
  'May-2005',
  'Jul-1988',
  'Aug-2006',
  'Jan-2006',
  'Aug-1999',
  'Aug-2001',
  'Oct-2012',
  'Jun-2008',
  'Aug-1993',
  'Sep-2007',
  'May-2000',
  'Aug-1995',
  'Apr-1987',
  'Jul-2008',
  'Sep-1997',
  'May-2013',
  'Mar-1998',
  'Aug-2010',
  'Nov-2001',
  'Feb-1986',
  'Jul-2005',
  'Jan-2001',
  'Jun-2000',
  'Apr-1999',
  'Sep-1999',
  'Jan-2002',
  'Dec-1997',
  'Apr-2008',
  'Feb-2006',
  'Mar-1997',
  'Apr-1995',
  'Sep-2005',
  'Apr-1996',
  'Jan-1997',
  'Mar-2000',
  'Jul-2004',
  'Apr-2003',
  'Apr-1994',
  'Dec-1998',
  'Jun-2002',
  'Nov-2008',
  'May-1999',
  'Nov-2005',
  'Sep-1995',
  'Jun-2007',
  'Jan-1988',
  'Nov-1989',
  'Mar-2012',
  'Nov-1995',
  'Mar-2013',
  'Mar-1999',
  'Nov-1974',
  'Jan-1999',
  'Feb-1999',
  'Jun-1994',
  'Apr-2002',
  'Nov-2010',
  'Mar-2001',
  'Nov-2007',
  'Jul-2006',
  'Jul-2009',
  'Nov-2009',
  'Jul-2011',
  'Jan-2012',
  'Sep-1983',
  'Dec-2007',
  'Mar-2010',
  'Oct-2003',
  'Jun-2011',
  'Sep-2001',
  'Jun-1998',
  'Nov-1981',
  'Aug-2003',
  'Jan-1992',
  'Nov-1985',
  'May-2009',
  'Feb-2013',
  'Dec-1994',
  'Jun-2001',
  'Oct-2006',
  'Jul-1990',
  'Jan-1981',
  'Nov-1980',
  'Apr-1981',
  'Oct-2002',
  'Sep-1998',
  'Oct-1998',
  'Jan-1989',
  'Aug-1998',
  'Aug-1992',
  'Oct-1986',
  'Oct-1987',
  'Dec-2003',
  'Sep-1990',
  'Mar-2002',
  'May-2004',
  'Feb-2014',
  'Sep-1986',
  'Mar-2014',
  'Jul-2012',
  'Jan-1978',
  'Sep-2011',
  'Mar-2008',
  'Jun-1990',
  'Mar-1996',
  'Nov-1988',
  'Nov-2003',
  'Apr-2009',
  'Jul-1997',
  'Jun-1995',
  'Feb-2001',
  'Sep-2002',
  'Jul-1982',
  'Aug-2011',
  'Mar-1995',
  'Jan-2000',
  'Jun-2006',
  'Nov-1983',
  'Apr-1977',
  'Oct-2007',
  'Jun-1974',
  'Dec-2009',
  'Sep-1992',
  'Oct-2011',
  'Feb-1992',
  'Jun-1987',
  'Nov-1997',
  'Feb-1988',
  'Feb-1983',
  'Aug-2009',
  'Apr-1993',
  'May-1994',
  'Jul-1989',
  'Aug-1996',
  'Sep-1996',
  'May-1992',
  'Jun-2012',
  'Oct-1994',
  'Mar-1989',
  'Sep-1985',
  'Feb-2012',
  'Jul-2000',
  'Jan-1979',
  'Jul-2007',
  'Dec-2005',
  'May-1997',
  'Jun-2009',
  'Sep-2006',
  'Jan-1998',
  'Mar-1979',
  'Apr-2007',
  'Dec-1991',
  'Mar-1986',
  'Feb-2005',
  'Jan-1994',
  'Jun-1980',
  'May-1987',
  'Apr-2000',
  'Jul-1994',
  'Jun-1992',
  'Jun-1978',
  'Sep-2013',
  'May-1986',
  'Dec-2011',
  'May-2003',
  'Oct-1988',
  'Jul-1981',
  'Oct-1980',
  'Jun-2003',
  'Oct-1996',
  'Dec-2012',
  'Dec-1992',
  'Aug-2000',
  'Jan-1971',
  'Mar-1991',
  'Aug-2013',
  'Feb-1997',
  'Apr-2014',
  'Aug-1977',
  'Sep-2008',
  'Mar-1988',
  'May-1983',
  'Jun-2013',
  'Jan-1990',
  'Dec-1987',
  'Mar-1992',
  'Jan-1980',
  'Sep-1980',
  'Jan-1991',
  'May-1990',
  'Feb-2002',
  'Jan-2010',
  'Oct-2009',
  'Feb-1984',
  'Jul-1979',
  'Nov-2012',
  'Nov-1982',
  'Feb-2010',
  'Jun-1982',
  'Mar-2009',
  'May-2011',
  'Mar-1977',
  'Jul-1996',
  'Jul-1992',
  'Aug-1980',
  'Sep-1988',
  'Sep-2012',
  'Jun-1986',
  'Jul-2010',
  'Jun-2014',
  'Sep-2010',
  'Jun-1976',
  'Feb-1993',
  'Apr-2011',
  'Mar-1994',
  'Dec-1984',
  'Apr-1988',
  'Jul-2015',
  'Jul-1987',
  'Apr-1983',
  'Jan-1995',
  'May-2015',
  'Mar-1990',
  'Apr-2010',
  'Jul-1991',
  'Dec-1988',
  'Feb-1985',
  'Apr-2012',
  'Dec-2008',
  'Jan-2014',
  'Jul-2013',
  'Sep-2009',
  'Jul-1995',
  'Oct-2010',
  'Apr-1979',
  'Oct-2008',
  'Apr-2001',
  'Mar-1987',
  'Jan-2009',
  'Oct-1992',
  'May-1998',
  'Nov-2011',
  'Jul-1965',
  'Sep-1987',
  'May-1984',
  'Mar-1972',
  'Apr-1984',
  'Apr-1969',
  'Oct-1983',
  'Feb-2000',
  'Dec-1993',
  'Jul-1978',
  'Mar-1981',
  'Apr-1985',
  'Jan-1986',
  'Aug-1982',
  'Apr-1978',
  'Jan-1996',
  'Jun-1989',
  'Oct-1990',
  'Apr-1997',
  'Oct-1984',
  'Feb-1978',
  'Apr-1989',
  'Aug-1987',
  'Dec-2013',
  'May-1989',
  'Dec-1983',
  'Nov-1990',
  'Feb-1991',
  'Feb-1989',
  'Mar-1983',
  'Feb-1998',
  'Feb-2015',
  'May-2010',
  'Apr-1990',
  'Jul-1984',
  'Jan-1984',
  'Nov-1984',
  'Sep-1991',
  'May-1988',
  'Jan-2013',
  'Dec-2010',
  'Mar-1985',
  'Jul-1993',
  'Dec-1976',
  'Feb-2009',
  'May-1985',
  'Oct-1989',
  'Sep-2014',
  'Nov-1987',
  'Sep-1978',
  'Aug-1976',
  'Jul-1969',
  'Aug-1986',
  'Feb-1990',
  'Nov-1978',
  'Feb-1987',
  'Jan-2015',
  'May-1967',
  'Oct-1967',
  'Feb-1979',
  'May-1982',
  'Aug-1981',
  'May-2014',
  'May-1991',
  'Sep-1982',
  'Jun-1979',
  'Jan-1987',
  'Jan-1985',
  'Dec-1986',
  'Aug-1989',
  'Dec-1970',
  'Dec-2014',
  'Feb-1996',
  'Jun-2010',
  'May-2012',
  'Aug-1985',
  'Jun-1983',
  'Jul-1986',
  'Jun-1973',
  'Apr-2013',
  'Dec-1977',
  'Jan-1982',
  'Dec-1989',
  'Dec-1982',
  'Oct-2014',
  'Jul-1985',
  'May-1979',
  'Oct-2015',
  'Dec-1990',
  'Oct-1982',
  'Oct-1985',
  'Aug-1975',
  'Mar-1982',
  'Apr-1986',
  'Apr-1955',
  'Oct-1979',
  'Jun-1972',
  'Dec-1969',
  'Jun-1984',
  'Nov-1966',
  'Jan-1983',
  'Dec-1981',
  'Nov-1976',
  'Apr-2015',
  'May-1971',
  'Feb-1976',
  'Sep-1967',
  'Nov-2013',
  'Nov-1986',
  'Sep-1989',
  'Jul-2014',
  'Nov-2014',
  'Mar-1984',
  'Sep-1984',
  'Aug-1967',
  'Aug-1983',
  'Nov-1972',
  'May-1978',
  'Mar-1978',
  'Aug-2014',
  'Oct-1978',
  'Aug-1979',
  'Oct-1977',
  'Mar-1976',
  'Aug-1978',
  'May-1974',
  'Dec-1979',
  'Mar-1975',
  'Nov-1979',
  'May-1977',
  'Jul-1983',
  'Nov-1975',
  'Apr-1982',
  'Apr-1980',
  'Jul-1972',
  'Apr-1976',
  'Dec-1975',
  'Mar-1970',
  'Feb-1980',
  'Dec-1973',
  'Apr-1975',
  'Feb-1981',
  'Aug-1974',
  'Jul-1977',
  'Jun-1988',
  'May-1981',
  'Sep-1981',
  'Aug-1969',
  'May-1969',
  'Sep-1972',
  'Aug-1971',
  'Feb-1973',
  'Jul-1980',
  'May-1970',
  'Apr-1972',
  'Dec-1980',
  'Jan-1975',
  'May-1972',
  'Jul-1976',
  'Aug-1972',
  'Nov-1969',
  'Jun-1975',
  'Mar-1971',
  'Oct-1975',
  'Feb-1982',
  'Jan-1974',
  'Nov-1968',
  'Feb-1974',
  'Jan-1972',
  'Jun-1970',
  'Sep-1970',
  'Apr-1970',
  'Jul-1960',
  'Oct-1964',
  'Jul-1975',
  'Jun-1966',
  'Jun-1968',
  'Apr-1967',
  'Jun-1981',
  'Oct-1973',
  'Jun-1977',
  'Oct-1971',
  'Apr-1974',
  'Jun-1971',
  'Feb-1977',
  'Aug-1973',
  'Sep-1963',
  'Oct-1968',
  'Nov-1971',
  'Oct-1969',
  'Dec-1978',
  'Jan-1976',
  'Feb-1972',
  'Oct-1976',
  'Mar-1974',
  'Apr-1971',
  'Mar-1980',
  'Mar-2015',
  'Nov-1973',
  'Jun-2015',
  'Dec-1965',
  'Dec-1974',
  'May-1973',
  'Oct-1972',
  'Jan-1977',
  'May-1965',
  'Dec-1972',
  'May-1980',
  'Feb-1975',
  'May-1966',
  'Sep-1974',
  'Jan-1960',
  'Jan-1966',
  'Aug-1968',
  'Sep-1973',
  'Feb-1971',
  'May-1976',
  'Sep-1968',
  'Sep-1977',
  'Jan-1962',
  'Feb-1969',
  'Aug-1970',
  'Apr-1963',
  'Aug-2015',
  'Sep-1975',
  'Dec-1966',
  'Sep-2015',
  'Jan-1969',
  'Jun-1967',
  'Mar-1967',
  'Dec-1971',
  'Jan-1967',
  'Feb-1967',
  'Apr-1966',
  'Nov-1970',
  'Oct-1974',
  'Sep-1976',
  'Oct-1970',
  'Sep-1965',
  'Mar-1973',
  'Jul-1974',
  'Mar-1969',
  'Aug-1959',
  'Jan-1963',
  'Aug-1965',
  'Jul-1971',
  'Feb-1964',
  'Jun-1964',
  'Jul-1967',
  'Jun-1965',
  'Aug-1966',
  'Oct-1966',
  'Apr-1968',
  'Jul-1968',
  'May-1975',
  'Jan-1973',
  'Jul-1973',
  'Sep-1966',
  'Jun-1969',
  'Sep-1969',
  'Jun-1957',
  'Mar-1968',
  'Jan-1944',
  'Mar-1966',
  'Jan-1968',
  'Nov-1960',
  'Jul-1966',
  'May-1968',
  'May-1964',
  'Oct-1960',
  'Jun-1963',
  'Nov-1959',
  'Feb-1970',
  'Feb-1966',
  'Nov-1967',
  'Mar-1954',
  'Nov-1964',
  'Feb-1968',
  'Sep-1964',
  'Dec-1968',
  'Jun-1962',
  'Jul-1970',
  'Nov-2015',
  'Feb-1961',
  'May-1959',
  'Jan-1950',
  'Jul-1964',
  'Sep-1971',
  'Apr-1964',
  'Jan-1959',
  'Apr-1965',
  'Dec-1963',
  'Dec-1964',
  'Jun-1960',
  'Jul-1962',
  'Aug-1963',
  'Dec-1961',
  'Jan-1965',
  'Nov-1965',
  'Oct-1965',
  'Feb-1965',
  'May-1963',
  'Aug-1961',
  'Jan-1954',
  'Jan-1961',
  'Mar-1955',
  'Jul-1951',
  'Dec-1967',
  'Jun-1959',
  'Oct-1961',
  'Apr-1962',
  'Jan-1964',
  'Nov-1953',
  'Aug-1964',
  'Dec-1962',
  'Jan-1957',
  'Feb-1963',
  'Jul-1961',
  'Apr-1934',
  'Sep-1961',
  'Jun-1958',
  'Aug-1946',
  'Mar-1959',
  'Oct-1959',
  'Oct-1962',
  'Jul-1963',
  'Nov-1963',
  'Feb-1959',
  'Jun-1961',
  'Feb-1962',
  'Mar-1960',
  'Jan-1958',
  'Mar-1965',
  'Mar-1964',
  'Dec-1956',
  'Dec-1960',
  'Mar-1961',
  'Mar-1963',
  'Jul-1959',
  'Jun-1952',
  'Sep-1962',
  'Apr-1958',
  'May-1960',
  'Nov-1956',
  'Dec-1959',
  'Aug-1962',
  'Mar-1962',
  'Feb-1960',
  'Oct-1950',
  'Nov-1954',
  'Jan-1951',
  'Aug-1958',
  'Jan-1952',
  'Dec-1958',
  'Jul-1958',
  'Aug-1960',
  'May-1962',
  'Oct-1963',
  'Nov-1962',
  'Nov-1957',
  'Jan-1956',
  'May-1958',
  'Mar-1933',
  'Mar-1958',
  'Aug-1953',
  'Sep-1959',
  'Oct-1957'],
 'initial_list_status': ['w', 'f'],
 'last_pymnt_d': ['Mar-2019',
  'Oct-2018',
  'Sep-2017',
  'Jul-2018',
  'Feb-2018',
  'Dec-2016',
  'May-2017',
  'Feb-2019',
  'Jun-2016',
  'Jun-2018',
  'Jun-2015',
  'Jan-2016',
  'Dec-2018',
  'Jul-2017',
  'Jan-2019',
  'Aug-2018',
  'Aug-2016',
  'Mar-2017',
  'Nov-2016',
  'Apr-2017',
  'Sep-2018',
  'Aug-2014',
  'Apr-2018',
  'Dec-2017',
  'Aug-2017',
  'Sep-2015',
  'Sep-2016',
  'Nov-2018',
  'Jul-2014',
  'May-2015',
  'Feb-2016',
  'Feb-2014',
  'Mar-2018',
  'Apr-2016',
  'Sep-2014',
  'Apr-2014',
  'Dec-2015',
  'Feb-2017',
  'May-2018',
  'Jan-2018',
  'Oct-2017',
  'May-2016',
  'Nov-2017',
  'Jun-2017',
  'Jul-2015',
  'Jan-2017',
  'Aug-2015',
  'Jul-2016',
  'Jul-2013',
  'May-2014',
  'Feb-2015',
  'Mar-2013',
  'Oct-2016',
  'Aug-2013',
  'Apr-2015',
  'Jun-2014',
  'Oct-2014',
  'Mar-2016',
  'Mar-2015',
  'Oct-2015',
  'Sep-2013',
  'Nov-2015',
  'Jun-2013',
  'Dec-2014',
  'Mar-2014',
  'Nov-2014',
  'Dec-2013',
  'Jan-2013',
  'Oct-2013',
  'Jan-2015',
  'Jan-2014',
  'Apr-2013',
  'Nov-2013',
  'Feb-2013',
  'May-2013',
  'Dec-2012',
  'Nov-2012',
  'Oct-2012',
  'Sep-2012'],
 'last_credit_pull_d': ['Mar-2019',
  'Oct-2018',
  'Feb-2017',
  'Feb-2019',
  'Jan-2017',
  'Aug-2018',
  'Jul-2018',
  'Oct-2016',
  'Jan-2019',
  'Jan-2018',
  'Nov-2018',
  'Sep-2018',
  'Jun-2017',
  'Aug-2014',
  'Dec-2017',
  'Dec-2018',
  'Mar-2017',
  'Aug-2017',
  'May-2018',
  'May-2017',
  'Jun-2018',
  'Mar-2018',
  'Nov-2017',
  'Sep-2017',
  'Aug-2015',
  'Dec-2016',
  'Apr-2017',
  'Sep-2015',
  'Nov-2016',
  'Apr-2018',
  'Oct-2017',
  'Feb-2018',
  'Jul-2015',
  'Aug-2016',
  'Jul-2016',
  'Jul-2017',
  'Jun-2016',
  'Dec-2015',
  'Apr-2015',
  'Apr-2016',
  'Mar-2016',
  'Oct-2015',
  'Feb-2016',
  'Jul-2014',
  'Sep-2016',
  'Nov-2014',
  'Nov-2015',
  'Dec-2013',
  'Feb-2015',
  'Jun-2015',
  'Oct-2013',
  'Jan-2016',
  'Oct-2014',
  'May-2016',
  'Apr-2014',
  'Jan-2015',
  'Mar-2015',
  'May-2014',
  'Mar-2013',
  'May-2015',
  'Jan-2013',
  'Sep-2014',
  'Dec-2014',
  'Jul-2013',
  'Feb-2014',
  'May-2013',
  'Jan-2014',
  'Dec-2012',
  'Nov-2013',
  'Jun-2014',
  'Aug-2013',
  'Jun-2013',
  'Mar-2014',
  'Apr-2013',
  'Feb-2013',
  'Sep-2013',
  'Nov-2012',
  'Oct-2012',
  'Sep-2012',
  'Aug-2012'],
 'application_type': ['Individual', 'Joint App'],
 'hardship_flag': ['N', 'Y'],
 'disbursement_method': ['Cash', 'DirectPay'],
 'debt_settlement_flag': ['N', 'Y']}

In [ ]:
data = data.drop(unneeded_columns, axis=1)

In [ ]:
data

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,10+ years,MORTGAGE,120000.0,...,28.6,0.0,0.0,556496.0,103647.0,64100.0,72197.0,N,Cash,N
1,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,10+ years,RENT,52000.0,...,0.0,0.0,0.0,32227.0,5559.0,11000.0,11127.0,N,Cash,N
2,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,10+ years,OWN,65000.0,...,10.0,0.0,0.0,257219.0,97647.0,179400.0,65719.0,N,Cash,N
3,20000.0,20000.0,20000.0,36 months,9.49,640.57,B,10+ years,MORTGAGE,100000.0,...,60.0,0.0,0.0,322295.0,33695.0,23900.0,29995.0,N,Cash,N
4,24575.0,24575.0,24575.0,60 months,14.49,578.08,C,5 years,RENT,120000.0,...,80.0,0.0,0.0,70820.0,54296.0,17300.0,47920.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826525,35000.0,35000.0,35000.0,36 months,15.31,1218.61,C,10+ years,MORTGAGE,70000.0,...,66.7,0.0,0.0,137307.0,23860.0,9200.0,15207.0,N,Cash,N
826526,19750.0,19750.0,19750.0,36 months,17.27,706.80,C,10+ years,MORTGAGE,98000.0,...,100.0,0.0,0.0,279063.0,56961.0,3600.0,46901.0,N,Cash,N
826527,11325.0,11325.0,11325.0,60 months,18.55,290.98,D,7 years,MORTGAGE,49000.0,...,0.0,0.0,0.0,149577.0,46878.0,20800.0,45490.0,N,Cash,N
826528,5450.0,5450.0,5450.0,36 months,14.65,188.00,C,7 years,MORTGAGE,37000.0,...,0.0,0.0,0.0,169570.0,26843.0,3200.0,0.0,N,Cash,N
826529,10000.0,10000.0,10000.0,36 months,12.29,333.53,C,4 years,RENT,35000.0,...,100.0,1.0,0.0,28803.0,22560.0,4200.0,22103.0,N,Cash,N

In [ ]:
date_columns = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d']

In [ ]:
data['issue_d']

0         Feb-2015
1         Dec-2017
2         Feb-2018
3         Aug-2016
4         Aug-2016
            ...
826525    May-2016
826526    Jun-2013
826527    Dec-2013
826528    Aug-2015
826529    Jul-2015
Name: issue_d, Length: 826530, dtype: object

In [ ]:
data.loc[0, 'issue_d'][0:3]

'Feb'

In [ ]:
data.loc[0, 'issue_d'][-4:]

'2015'

In [ ]:
for column in date_columns:
    data[column + '_month'] = data[column].apply(lambda x: x[0:3])
    data[column + '_year'] = data[column].apply(lambda x: x[-4:])

In [ ]:
data

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,disbursement_method,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year
0,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,10+ years,MORTGAGE,120000.0,...,Cash,N,Feb,2015,Oct,1981,Mar,2019,Mar,2019
1,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,10+ years,RENT,52000.0,...,Cash,N,Dec,2017,Jun,2005,Oct,2018,Oct,2018
2,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,10+ years,OWN,65000.0,...,Cash,N,Feb,2018,Jul,1999,Mar,2019,Mar,2019
3,20000.0,20000.0,20000.0,36 months,9.49,640.57,B,10+ years,MORTGAGE,100000.0,...,Cash,N,Aug,2016,Aug,1990,Sep,2017,Mar,2019
4,24575.0,24575.0,24575.0,60 months,14.49,578.08,C,5 years,RENT,120000.0,...,Cash,N,Aug,2016,Feb,2007,Jul,2018,Mar,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826525,35000.0,35000.0,35000.0,36 months,15.31,1218.61,C,10+ years,MORTGAGE,70000.0,...,Cash,N,May,2016,Mar,2003,Mar,2019,Mar,2019
826526,19750.0,19750.0,19750.0,36 months,17.27,706.80,C,10+ years,MORTGAGE,98000.0,...,Cash,N,Jun,2013,Aug,2002,Sep,2013,Sep,2013
826527,11325.0,11325.0,11325.0,60 months,18.55,290.98,D,7 years,MORTGAGE,49000.0,...,Cash,N,Dec,2013,Jun,2007,Aug,2015,Mar,2019
826528,5450.0,5450.0,5450.0,36 months,14.65,188.00,C,7 years,MORTGAGE,37000.0,...,Cash,N,Aug,2015,Jan,2004,Aug,2018,Nov,2018
826529,10000.0,10000.0,10000.0,36 months,12.29,333.53,C,4 years,RENT,35000.0,...,Cash,N,Jul,2015,Jun,1989,Feb,2018,Feb,2019

In [ ]:
data

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,disbursement_method,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year
0,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,10+ years,MORTGAGE,120000.0,...,Cash,N,Feb,2015,Oct,1981,Mar,2019,Mar,2019
1,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,10+ years,RENT,52000.0,...,Cash,N,Dec,2017,Jun,2005,Oct,2018,Oct,2018
2,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,10+ years,OWN,65000.0,...,Cash,N,Feb,2018,Jul,1999,Mar,2019,Mar,2019
3,20000.0,20000.0,20000.0,36 months,9.49,640.57,B,10+ years,MORTGAGE,100000.0,...,Cash,N,Aug,2016,Aug,1990,Sep,2017,Mar,2019
4,24575.0,24575.0,24575.0,60 months,14.49,578.08,C,5 years,RENT,120000.0,...,Cash,N,Aug,2016,Feb,2007,Jul,2018,Mar,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826525,35000.0,35000.0,35000.0,36 months,15.31,1218.61,C,10+ years,MORTGAGE,70000.0,...,Cash,N,May,2016,Mar,2003,Mar,2019,Mar,2019
826526,19750.0,19750.0,19750.0,36 months,17.27,706.80,C,10+ years,MORTGAGE,98000.0,...,Cash,N,Jun,2013,Aug,2002,Sep,2013,Sep,2013
826527,11325.0,11325.0,11325.0,60 months,18.55,290.98,D,7 years,MORTGAGE,49000.0,...,Cash,N,Dec,2013,Jun,2007,Aug,2015,Mar,2019
826528,5450.0,5450.0,5450.0,36 months,14.65,188.00,C,7 years,MORTGAGE,37000.0,...,Cash,N,Aug,2015,Jan,2004,Aug,2018,Nov,2018
826529,10000.0,10000.0,10000.0,36 months,12.29,333.53,C,4 years,RENT,35000.0,...,Cash,N,Jul,2015,Jun,1989,Feb,2018,Feb,2019

In [ ]:
month_ordering = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [ ]:
for column in date_columns:
    data[column + '_month'] = data[column + '_month'].apply(lambda x: month_ordering.index(x))

In [ ]:
data

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,disbursement_method,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year
0,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,10+ years,MORTGAGE,120000.0,...,Cash,N,1,2015,9,1981,2,2019,2,2019
1,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,10+ years,RENT,52000.0,...,Cash,N,11,2017,5,2005,9,2018,9,2018
2,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,10+ years,OWN,65000.0,...,Cash,N,1,2018,6,1999,2,2019,2,2019
3,20000.0,20000.0,20000.0,36 months,9.49,640.57,B,10+ years,MORTGAGE,100000.0,...,Cash,N,7,2016,7,1990,8,2017,2,2019
4,24575.0,24575.0,24575.0,60 months,14.49,578.08,C,5 years,RENT,120000.0,...,Cash,N,7,2016,1,2007,6,2018,2,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826525,35000.0,35000.0,35000.0,36 months,15.31,1218.61,C,10+ years,MORTGAGE,70000.0,...,Cash,N,4,2016,2,2003,2,2019,2,2019
826526,19750.0,19750.0,19750.0,36 months,17.27,706.80,C,10+ years,MORTGAGE,98000.0,...,Cash,N,5,2013,7,2002,8,2013,8,2013
826527,11325.0,11325.0,11325.0,60 months,18.55,290.98,D,7 years,MORTGAGE,49000.0,...,Cash,N,11,2013,5,2007,7,2015,2,2019
826528,5450.0,5450.0,5450.0,36 months,14.65,188.00,C,7 years,MORTGAGE,37000.0,...,Cash,N,7,2015,0,2004,7,2018,10,2018
826529,10000.0,10000.0,10000.0,36 months,12.29,333.53,C,4 years,RENT,35000.0,...,Cash,N,6,2015,5,1989,1,2018,1,2019

In [ ]:
for column in data.columns:
    try:
        data[column] = data[column].astype(np.float)
    except:
        pass

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,disbursement_method,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year
0,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,10+ years,MORTGAGE,120000.0,...,Cash,N,1.0,2015.0,9.0,1981.0,2.0,2019.0,2.0,2019.0
1,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,10+ years,RENT,52000.0,...,Cash,N,11.0,2017.0,5.0,2005.0,9.0,2018.0,9.0,2018.0
2,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,10+ years,OWN,65000.0,...,Cash,N,1.0,2018.0,6.0,1999.0,2.0,2019.0,2.0,2019.0
3,20000.0,20000.0,20000.0,36 months,9.49,640.57,B,10+ years,MORTGAGE,100000.0,...,Cash,N,7.0,2016.0,7.0,1990.0,8.0,2017.0,2.0,2019.0
4,24575.0,24575.0,24575.0,60 months,14.49,578.08,C,5 years,RENT,120000.0,...,Cash,N,7.0,2016.0,1.0,2007.0,6.0,2018.0,2.0,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826525,35000.0,35000.0,35000.0,36 months,15.31,1218.61,C,10+ years,MORTGAGE,70000.0,...,Cash,N,4.0,2016.0,2.0,2003.0,2.0,2019.0,2.0,2019.0
826526,19750.0,19750.0,19750.0,36 months,17.27,706.80,C,10+ years,MORTGAGE,98000.0,...,Cash,N,5.0,2013.0,7.0,2002.0,8.0,2013.0,8.0,2013.0
826527,11325.0,11325.0,11325.0,60 months,18.55,290.98,D,7 years,MORTGAGE,49000.0,...,Cash,N,11.0,2013.0,5.0,2007.0,7.0,2015.0,2.0,2019.0
826528,5450.0,5450.0,5450.0,36 months,14.65,188.00,C,7 years,MORTGAGE,37000.0,...,Cash,N,7.0,2015.0,0.0,2004.0,7.0,2018.0,10.0,2018.0
826529,10000.0,10000.0,10000.0,36 months,12.29,333.53,C,4 years,RENT,35000.0,...,Cash,N,6.0,2015.0,5.0,1989.0,1.0,2018.0,1.0,2019.0

In [ ]:
{column: list(data[column].unique()) for column in data.columns if data.dtypes[column] == 'object'}

{'term': [' 60 months', ' 36 months'],
 'grade': ['B', 'E', 'C', 'A', 'D', 'F', 'G'],
 'emp_length': ['10+ years',
  '5 years',
  '7 years',
  '2 years',
  '1 year',
  '< 1 year',
  '4 years',
  '6 years',
  '3 years',
  '9 years',
  '8 years'],
 'home_ownership': ['MORTGAGE', 'RENT', 'OWN', 'ANY', 'NONE', 'OTHER'],
 'verification_status': ['Verified', 'Not Verified', 'Source Verified'],
 'issue_d': ['Feb-2015',
  'Dec-2017',
  'Feb-2018',
  'Aug-2016',
  'Oct-2016',
  'Jan-2018',
  'Jan-2015',
  'Sep-2014',
  'May-2015',
  'Apr-2016',
  'Sep-2016',
  'Oct-2017',
  'Jun-2015',
  'Jun-2013',
  'Oct-2013',
  'Jul-2017',
  'May-2018',
  'Jan-2013',
  'Jan-2017',
  'Nov-2018',
  'Jul-2014',
  'Sep-2018',
  'Aug-2017',
  'Oct-2015',
  'Jul-2016',
  'Aug-2018',
  'Aug-2015',
  'Sep-2015',
  'Feb-2017',
  'Mar-2017',
  'Mar-2018',
  'Nov-2014',
  'Mar-2013',
  'Oct-2014',
  'Apr-2015',
  'Feb-2014',
  'Nov-2017',
  'Apr-2013',
  'May-2013',
  'Mar-2014',
  'Jul-2018',
  'Dec-2016',
  'Jul-2013',
  'Apr-2017',
  'Jun-2016',
  'May-2017',
  'Dec-2018',
  'Jan-2014',
  'Jun-2014',
  'Dec-2015',
  'Jun-2018',
  'Dec-2012',
  'Aug-2014',
  'Oct-2018',
  'Mar-2016',
  'Apr-2018',
  'Sep-2017',
  'Jun-2017',
  'Mar-2015',
  'Nov-2015',
  'Nov-2016',
  'May-2014',
  'Aug-2013',
  'Oct-2012',
  'May-2016',
  'Jul-2015',
  'Dec-2014',
  'Jan-2016',
  'Sep-2013',
  'Feb-2016',
  'Dec-2013',
  'Nov-2013',
  'Feb-2013',
  'Apr-2014',
  'Sep-2012',
  'Nov-2012',
  'Aug-2012'],
 'loan_status': ['Current',
  'Fully Paid',
  'Charged Off',
  'Late (31-120 days)',
  'Late (16-30 days)',
  'In Grace Period',
  'Default'],
 'pymnt_plan': ['n', 'y'],
 'purpose': ['debt_consolidation',
  'credit_card',
  'house',
  'small_business',
  'major_purchase',
  'home_improvement',
  'other',
  'medical',
  'car',
  'renewable_energy',
  'moving',
  'vacation',
  'wedding',
  'educational'],
 'addr_state': ['CA',
  'MA',
  'NV',
  'OH',
  'FL',
  'MI',
  'IN',
  'ID',
  'PA',
  'TX',
  'OR',
  'NY',
  'GA',
  'VA',
  'TN',
  'AL',
  'MD',
  'KY',
  'MN',
  'CO',
  'WY',
  'LA',
  'NJ',
  'AR',
  'AZ',
  'HI',
  'WI',
  'MS',
  'VT',
  'MO',
  'AK',
  'IL',
  'NC',
  'SC',
  'WV',
  'KS',
  'ND',
  'NE',
  'UT',
  'CT',
  'WA',
  'ME',
  'NH',
  'DE',
  'RI',
  'NM',
  'MT',
  'OK',
  'SD',
  'DC',
  'IA'],
 'earliest_cr_line': ['Oct-1981',
  'Jun-2005',
  'Jul-1999',
  'Aug-1990',
  'Feb-2007',
  'Mar-2006',
  'Nov-2004',
  'Mar-2003',
  'Sep-2000',
  'May-2002',
  'Sep-2004',
  'Apr-2004',
  'Oct-1991',
  'May-2007',
  'Nov-2006',
  'Jan-1993',
  'Jul-2001',
  'Nov-1992',
  'Nov-2002',
  'Dec-2004',
  'Jan-2005',
  'Nov-2000',
  'Oct-2013',
  'Jan-2011',
  'Jun-1996',
  'Oct-2005',
  'Dec-2001',
  'Apr-1992',
  'Mar-2004',
  'Oct-2004',
  'May-2006',
  'Aug-1997',
  'Sep-1994',
  'Oct-2001',
  'Jun-1999',
  'Nov-1977',
  'Nov-1996',
  'Feb-1994',
  'Oct-1999',
  'Dec-1999',
  'Apr-1973',
  'Dec-2006',
  'Jul-1998',
  'Mar-2011',
  'Apr-2005',
  'Dec-2000',
  'Nov-1998',
  'Nov-1993',
  'Sep-2003',
  'Aug-2004',
  'Apr-1998',
  'Jun-1997',
  'Mar-2005',
  'Aug-1991',
  'Nov-1999',
  'Jan-2008',
  'May-1995',
  'Oct-2000',
  'Dec-2002',
  'May-1993',
  'Jan-2003',
  'Aug-2007',
  'Feb-2008',
  'Jun-1993',
  'Oct-1995',
  'May-1996',
  'Sep-1979',
  'May-2001',
  'Jul-2002',
  'Aug-1988',
  'Jan-2004',
  'Mar-2007',
  'Aug-2012',
  'Dec-1996',
  'Apr-1991',
  'Aug-2008',
  'Oct-1993',
  'Aug-1984',
  'Jun-1985',
  'Oct-1997',
  'Feb-2004',
  'Feb-1995',
  'Apr-2006',
  'Sep-1993',
  'Jun-1991',
  'Mar-1993',
  'Aug-2005',
  'Feb-2011',
  'Feb-2003',
  'Aug-1994',
  'Nov-1991',
  'Jul-2003',
  'Nov-1994',
  'Jan-2007',
  'Jan-1970',
  'Jun-2004',
  'Aug-2002',
  'Dec-1985',
  'May-2008',
  'Dec-1995',
  'May-2005',
  'Jul-1988',
  'Aug-2006',
  'Jan-2006',
  'Aug-1999',
  'Aug-2001',
  'Oct-2012',
  'Jun-2008',
  'Aug-1993',
  'Sep-2007',
  'May-2000',
  'Aug-1995',
  'Apr-1987',
  'Jul-2008',
  'Sep-1997',
  'May-2013',
  'Mar-1998',
  'Aug-2010',
  'Nov-2001',
  'Feb-1986',
  'Jul-2005',
  'Jan-2001',
  'Jun-2000',
  'Apr-1999',
  'Sep-1999',
  'Jan-2002',
  'Dec-1997',
  'Apr-2008',
  'Feb-2006',
  'Mar-1997',
  'Apr-1995',
  'Sep-2005',
  'Apr-1996',
  'Jan-1997',
  'Mar-2000',
  'Jul-2004',
  'Apr-2003',
  'Apr-1994',
  'Dec-1998',
  'Jun-2002',
  'Nov-2008',
  'May-1999',
  'Nov-2005',
  'Sep-1995',
  'Jun-2007',
  'Jan-1988',
  'Nov-1989',
  'Mar-2012',
  'Nov-1995',
  'Mar-2013',
  'Mar-1999',
  'Nov-1974',
  'Jan-1999',
  'Feb-1999',
  'Jun-1994',
  'Apr-2002',
  'Nov-2010',
  'Mar-2001',
  'Nov-2007',
  'Jul-2006',
  'Jul-2009',
  'Nov-2009',
  'Jul-2011',
  'Jan-2012',
  'Sep-1983',
  'Dec-2007',
  'Mar-2010',
  'Oct-2003',
  'Jun-2011',
  'Sep-2001',
  'Jun-1998',
  'Nov-1981',
  'Aug-2003',
  'Jan-1992',
  'Nov-1985',
  'May-2009',
  'Feb-2013',
  'Dec-1994',
  'Jun-2001',
  'Oct-2006',
  'Jul-1990',
  'Jan-1981',
  'Nov-1980',
  'Apr-1981',
  'Oct-2002',
  'Sep-1998',
  'Oct-1998',
  'Jan-1989',
  'Aug-1998',
  'Aug-1992',
  'Oct-1986',
  'Oct-1987',
  'Dec-2003',
  'Sep-1990',
  'Mar-2002',
  'May-2004',
  'Feb-2014',
  'Sep-1986',
  'Mar-2014',
  'Jul-2012',
  'Jan-1978',
  'Sep-2011',
  'Mar-2008',
  'Jun-1990',
  'Mar-1996',
  'Nov-1988',
  'Nov-2003',
  'Apr-2009',
  'Jul-1997',
  'Jun-1995',
  'Feb-2001',
  'Sep-2002',
  'Jul-1982',
  'Aug-2011',
  'Mar-1995',
  'Jan-2000',
  'Jun-2006',
  'Nov-1983',
  'Apr-1977',
  'Oct-2007',
  'Jun-1974',
  'Dec-2009',
  'Sep-1992',
  'Oct-2011',
  'Feb-1992',
  'Jun-1987',
  'Nov-1997',
  'Feb-1988',
  'Feb-1983',
  'Aug-2009',
  'Apr-1993',
  'May-1994',
  'Jul-1989',
  'Aug-1996',
  'Sep-1996',
  'May-1992',
  'Jun-2012',
  'Oct-1994',
  'Mar-1989',
  'Sep-1985',
  'Feb-2012',
  'Jul-2000',
  'Jan-1979',
  'Jul-2007',
  'Dec-2005',
  'May-1997',
  'Jun-2009',
  'Sep-2006',
  'Jan-1998',
  'Mar-1979',
  'Apr-2007',
  'Dec-1991',
  'Mar-1986',
  'Feb-2005',
  'Jan-1994',
  'Jun-1980',
  'May-1987',
  'Apr-2000',
  'Jul-1994',
  'Jun-1992',
  'Jun-1978',
  'Sep-2013',
  'May-1986',
  'Dec-2011',
  'May-2003',
  'Oct-1988',
  'Jul-1981',
  'Oct-1980',
  'Jun-2003',
  'Oct-1996',
  'Dec-2012',
  'Dec-1992',
  'Aug-2000',
  'Jan-1971',
  'Mar-1991',
  'Aug-2013',
  'Feb-1997',
  'Apr-2014',
  'Aug-1977',
  'Sep-2008',
  'Mar-1988',
  'May-1983',
  'Jun-2013',
  'Jan-1990',
  'Dec-1987',
  'Mar-1992',
  'Jan-1980',
  'Sep-1980',
  'Jan-1991',
  'May-1990',
  'Feb-2002',
  'Jan-2010',
  'Oct-2009',
  'Feb-1984',
  'Jul-1979',
  'Nov-2012',
  'Nov-1982',
  'Feb-2010',
  'Jun-1982',
  'Mar-2009',
  'May-2011',
  'Mar-1977',
  'Jul-1996',
  'Jul-1992',
  'Aug-1980',
  'Sep-1988',
  'Sep-2012',
  'Jun-1986',
  'Jul-2010',
  'Jun-2014',
  'Sep-2010',
  'Jun-1976',
  'Feb-1993',
  'Apr-2011',
  'Mar-1994',
  'Dec-1984',
  'Apr-1988',
  'Jul-2015',
  'Jul-1987',
  'Apr-1983',
  'Jan-1995',
  'May-2015',
  'Mar-1990',
  'Apr-2010',
  'Jul-1991',
  'Dec-1988',
  'Feb-1985',
  'Apr-2012',
  'Dec-2008',
  'Jan-2014',
  'Jul-2013',
  'Sep-2009',
  'Jul-1995',
  'Oct-2010',
  'Apr-1979',
  'Oct-2008',
  'Apr-2001',
  'Mar-1987',
  'Jan-2009',
  'Oct-1992',
  'May-1998',
  'Nov-2011',
  'Jul-1965',
  'Sep-1987',
  'May-1984',
  'Mar-1972',
  'Apr-1984',
  'Apr-1969',
  'Oct-1983',
  'Feb-2000',
  'Dec-1993',
  'Jul-1978',
  'Mar-1981',
  'Apr-1985',
  'Jan-1986',
  'Aug-1982',
  'Apr-1978',
  'Jan-1996',
  'Jun-1989',
  'Oct-1990',
  'Apr-1997',
  'Oct-1984',
  'Feb-1978',
  'Apr-1989',
  'Aug-1987',
  'Dec-2013',
  'May-1989',
  'Dec-1983',
  'Nov-1990',
  'Feb-1991',
  'Feb-1989',
  'Mar-1983',
  'Feb-1998',
  'Feb-2015',
  'May-2010',
  'Apr-1990',
  'Jul-1984',
  'Jan-1984',
  'Nov-1984',
  'Sep-1991',
  'May-1988',
  'Jan-2013',
  'Dec-2010',
  'Mar-1985',
  'Jul-1993',
  'Dec-1976',
  'Feb-2009',
  'May-1985',
  'Oct-1989',
  'Sep-2014',
  'Nov-1987',
  'Sep-1978',
  'Aug-1976',
  'Jul-1969',
  'Aug-1986',
  'Feb-1990',
  'Nov-1978',
  'Feb-1987',
  'Jan-2015',
  'May-1967',
  'Oct-1967',
  'Feb-1979',
  'May-1982',
  'Aug-1981',
  'May-2014',
  'May-1991',
  'Sep-1982',
  'Jun-1979',
  'Jan-1987',
  'Jan-1985',
  'Dec-1986',
  'Aug-1989',
  'Dec-1970',
  'Dec-2014',
  'Feb-1996',
  'Jun-2010',
  'May-2012',
  'Aug-1985',
  'Jun-1983',
  'Jul-1986',
  'Jun-1973',
  'Apr-2013',
  'Dec-1977',
  'Jan-1982',
  'Dec-1989',
  'Dec-1982',
  'Oct-2014',
  'Jul-1985',
  'May-1979',
  'Oct-2015',
  'Dec-1990',
  'Oct-1982',
  'Oct-1985',
  'Aug-1975',
  'Mar-1982',
  'Apr-1986',
  'Apr-1955',
  'Oct-1979',
  'Jun-1972',
  'Dec-1969',
  'Jun-1984',
  'Nov-1966',
  'Jan-1983',
  'Dec-1981',
  'Nov-1976',
  'Apr-2015',
  'May-1971',
  'Feb-1976',
  'Sep-1967',
  'Nov-2013',
  'Nov-1986',
  'Sep-1989',
  'Jul-2014',
  'Nov-2014',
  'Mar-1984',
  'Sep-1984',
  'Aug-1967',
  'Aug-1983',
  'Nov-1972',
  'May-1978',
  'Mar-1978',
  'Aug-2014',
  'Oct-1978',
  'Aug-1979',
  'Oct-1977',
  'Mar-1976',
  'Aug-1978',
  'May-1974',
  'Dec-1979',
  'Mar-1975',
  'Nov-1979',
  'May-1977',
  'Jul-1983',
  'Nov-1975',
  'Apr-1982',
  'Apr-1980',
  'Jul-1972',
  'Apr-1976',
  'Dec-1975',
  'Mar-1970',
  'Feb-1980',
  'Dec-1973',
  'Apr-1975',
  'Feb-1981',
  'Aug-1974',
  'Jul-1977',
  'Jun-1988',
  'May-1981',
  'Sep-1981',
  'Aug-1969',
  'May-1969',
  'Sep-1972',
  'Aug-1971',
  'Feb-1973',
  'Jul-1980',
  'May-1970',
  'Apr-1972',
  'Dec-1980',
  'Jan-1975',
  'May-1972',
  'Jul-1976',
  'Aug-1972',
  'Nov-1969',
  'Jun-1975',
  'Mar-1971',
  'Oct-1975',
  'Feb-1982',
  'Jan-1974',
  'Nov-1968',
  'Feb-1974',
  'Jan-1972',
  'Jun-1970',
  'Sep-1970',
  'Apr-1970',
  'Jul-1960',
  'Oct-1964',
  'Jul-1975',
  'Jun-1966',
  'Jun-1968',
  'Apr-1967',
  'Jun-1981',
  'Oct-1973',
  'Jun-1977',
  'Oct-1971',
  'Apr-1974',
  'Jun-1971',
  'Feb-1977',
  'Aug-1973',
  'Sep-1963',
  'Oct-1968',
  'Nov-1971',
  'Oct-1969',
  'Dec-1978',
  'Jan-1976',
  'Feb-1972',
  'Oct-1976',
  'Mar-1974',
  'Apr-1971',
  'Mar-1980',
  'Mar-2015',
  'Nov-1973',
  'Jun-2015',
  'Dec-1965',
  'Dec-1974',
  'May-1973',
  'Oct-1972',
  'Jan-1977',
  'May-1965',
  'Dec-1972',
  'May-1980',
  'Feb-1975',
  'May-1966',
  'Sep-1974',
  'Jan-1960',
  'Jan-1966',
  'Aug-1968',
  'Sep-1973',
  'Feb-1971',
  'May-1976',
  'Sep-1968',
  'Sep-1977',
  'Jan-1962',
  'Feb-1969',
  'Aug-1970',
  'Apr-1963',
  'Aug-2015',
  'Sep-1975',
  'Dec-1966',
  'Sep-2015',
  'Jan-1969',
  'Jun-1967',
  'Mar-1967',
  'Dec-1971',
  'Jan-1967',
  'Feb-1967',
  'Apr-1966',
  'Nov-1970',
  'Oct-1974',
  'Sep-1976',
  'Oct-1970',
  'Sep-1965',
  'Mar-1973',
  'Jul-1974',
  'Mar-1969',
  'Aug-1959',
  'Jan-1963',
  'Aug-1965',
  'Jul-1971',
  'Feb-1964',
  'Jun-1964',
  'Jul-1967',
  'Jun-1965',
  'Aug-1966',
  'Oct-1966',
  'Apr-1968',
  'Jul-1968',
  'May-1975',
  'Jan-1973',
  'Jul-1973',
  'Sep-1966',
  'Jun-1969',
  'Sep-1969',
  'Jun-1957',
  'Mar-1968',
  'Jan-1944',
  'Mar-1966',
  'Jan-1968',
  'Nov-1960',
  'Jul-1966',
  'May-1968',
  'May-1964',
  'Oct-1960',
  'Jun-1963',
  'Nov-1959',
  'Feb-1970',
  'Feb-1966',
  'Nov-1967',
  'Mar-1954',
  'Nov-1964',
  'Feb-1968',
  'Sep-1964',
  'Dec-1968',
  'Jun-1962',
  'Jul-1970',
  'Nov-2015',
  'Feb-1961',
  'May-1959',
  'Jan-1950',
  'Jul-1964',
  'Sep-1971',
  'Apr-1964',
  'Jan-1959',
  'Apr-1965',
  'Dec-1963',
  'Dec-1964',
  'Jun-1960',
  'Jul-1962',
  'Aug-1963',
  'Dec-1961',
  'Jan-1965',
  'Nov-1965',
  'Oct-1965',
  'Feb-1965',
  'May-1963',
  'Aug-1961',
  'Jan-1954',
  'Jan-1961',
  'Mar-1955',
  'Jul-1951',
  'Dec-1967',
  'Jun-1959',
  'Oct-1961',
  'Apr-1962',
  'Jan-1964',
  'Nov-1953',
  'Aug-1964',
  'Dec-1962',
  'Jan-1957',
  'Feb-1963',
  'Jul-1961',
  'Apr-1934',
  'Sep-1961',
  'Jun-1958',
  'Aug-1946',
  'Mar-1959',
  'Oct-1959',
  'Oct-1962',
  'Jul-1963',
  'Nov-1963',
  'Feb-1959',
  'Jun-1961',
  'Feb-1962',
  'Mar-1960',
  'Jan-1958',
  'Mar-1965',
  'Mar-1964',
  'Dec-1956',
  'Dec-1960',
  'Mar-1961',
  'Mar-1963',
  'Jul-1959',
  'Jun-1952',
  'Sep-1962',
  'Apr-1958',
  'May-1960',
  'Nov-1956',
  'Dec-1959',
  'Aug-1962',
  'Mar-1962',
  'Feb-1960',
  'Oct-1950',
  'Nov-1954',
  'Jan-1951',
  'Aug-1958',
  'Jan-1952',
  'Dec-1958',
  'Jul-1958',
  'Aug-1960',
  'May-1962',
  'Oct-1963',
  'Nov-1962',
  'Nov-1957',
  'Jan-1956',
  'May-1958',
  'Mar-1933',
  'Mar-1958',
  'Aug-1953',
  'Sep-1959',
  'Oct-1957'],
 'initial_list_status': ['w', 'f'],
 'last_pymnt_d': ['Mar-2019',
  'Oct-2018',
  'Sep-2017',
  'Jul-2018',
  'Feb-2018',
  'Dec-2016',
  'May-2017',
  'Feb-2019',
  'Jun-2016',
  'Jun-2018',
  'Jun-2015',
  'Jan-2016',
  'Dec-2018',
  'Jul-2017',
  'Jan-2019',
  'Aug-2018',
  'Aug-2016',
  'Mar-2017',
  'Nov-2016',
  'Apr-2017',
  'Sep-2018',
  'Aug-2014',
  'Apr-2018',
  'Dec-2017',
  'Aug-2017',
  'Sep-2015',
  'Sep-2016',
  'Nov-2018',
  'Jul-2014',
  'May-2015',
  'Feb-2016',
  'Feb-2014',
  'Mar-2018',
  'Apr-2016',
  'Sep-2014',
  'Apr-2014',
  'Dec-2015',
  'Feb-2017',
  'May-2018',
  'Jan-2018',
  'Oct-2017',
  'May-2016',
  'Nov-2017',
  'Jun-2017',
  'Jul-2015',
  'Jan-2017',
  'Aug-2015',
  'Jul-2016',
  'Jul-2013',
  'May-2014',
  'Feb-2015',
  'Mar-2013',
  'Oct-2016',
  'Aug-2013',
  'Apr-2015',
  'Jun-2014',
  'Oct-2014',
  'Mar-2016',
  'Mar-2015',
  'Oct-2015',
  'Sep-2013',
  'Nov-2015',
  'Jun-2013',
  'Dec-2014',
  'Mar-2014',
  'Nov-2014',
  'Dec-2013',
  'Jan-2013',
  'Oct-2013',
  'Jan-2015',
  'Jan-2014',
  'Apr-2013',
  'Nov-2013',
  'Feb-2013',
  'May-2013',
  'Dec-2012',
  'Nov-2012',
  'Oct-2012',
  'Sep-2012'],
 'last_credit_pull_d': ['Mar-2019',
  'Oct-2018',
  'Feb-2017',
  'Feb-2019',
  'Jan-2017',
  'Aug-2018',
  'Jul-2018',
  'Oct-2016',
  'Jan-2019',
  'Jan-2018',
  'Nov-2018',
  'Sep-2018',
  'Jun-2017',
  'Aug-2014',
  'Dec-2017',
  'Dec-2018',
  'Mar-2017',
  'Aug-2017',
  'May-2018',
  'May-2017',
  'Jun-2018',
  'Mar-2018',
  'Nov-2017',
  'Sep-2017',
  'Aug-2015',
  'Dec-2016',
  'Apr-2017',
  'Sep-2015',
  'Nov-2016',
  'Apr-2018',
  'Oct-2017',
  'Feb-2018',
  'Jul-2015',
  'Aug-2016',
  'Jul-2016',
  'Jul-2017',
  'Jun-2016',
  'Dec-2015',
  'Apr-2015',
  'Apr-2016',
  'Mar-2016',
  'Oct-2015',
  'Feb-2016',
  'Jul-2014',
  'Sep-2016',
  'Nov-2014',
  'Nov-2015',
  'Dec-2013',
  'Feb-2015',
  'Jun-2015',
  'Oct-2013',
  'Jan-2016',
  'Oct-2014',
  'May-2016',
  'Apr-2014',
  'Jan-2015',
  'Mar-2015',
  'May-2014',
  'Mar-2013',
  'May-2015',
  'Jan-2013',
  'Sep-2014',
  'Dec-2014',
  'Jul-2013',
  'Feb-2014',
  'May-2013',
  'Jan-2014',
  'Dec-2012',
  'Nov-2013',
  'Jun-2014',
  'Aug-2013',
  'Jun-2013',
  'Mar-2014',
  'Apr-2013',
  'Feb-2013',
  'Sep-2013',
  'Nov-2012',
  'Oct-2012',
  'Sep-2012',
  'Aug-2012'],
 'application_type': ['Individual', 'Joint App'],
 'hardship_flag': ['N', 'Y'],
 'disbursement_method': ['Cash', 'DirectPay'],
 'debt_settlement_flag': ['N', 'Y']}

In [ ]:
target = 'grade'


binary_features = ['term', 'pymnt_plan', 'initial_list_status', 'application_type', 'hardship_flag', 'disbursement_method', 'debt_settlement_flag']
binary_positives = [' 60 months', 'y', 'w', 'Individual', 'Y', 'Cash', 'Y']

ordinal_features = ['emp_length']
emp_ordering = [
    '< 1 year',
    '1 year',
    '2 years',
    '3 years',
    '4 years',
    '5 years',
    '6 years',
    '7 years',
    '8 years',
    '9 years',
    '10+ years'
]

nominal_features = ['home_ownership', 'verification_status', 'loan_status', 'purpose', 'addr_state']

In [ ]:
# Encoding functions

def binary_encode(df, column, positive_value):
    df[column] = df[column].apply(lambda x: 1 if x == positive_value else 0)

def ordinal_encode(df, column, ordering):
    df[column] = df[column].apply(lambda x: ordering.index(x))

def onehot_encode(df, column):
    dummies = pd.get_dummies(df[column])
    df_new = pd.concat([df, dummies], axis=1)
    df_new = df_new.drop(column, axis=1)
    return df_new

In [ ]:
# Perform encoding

for feature, positive_value in zip(binary_features, binary_positives):
    binary_encode(data, feature, positive_value)

ordinal_encode(data, 'emp_length', emp_ordering)

for feature in nominal_features:
    data = onehot_encode(data, feature)

In [ ]:
(data.dtypes == 'object').sum()

5

In [ ]:
data[target].value_counts()

C    242612
B    240025
A    151679
D    120849
E     50987
F     15711
G      4667
Name: grade, dtype: int64

In [ ]:
# Encoding label column

label_encoder = LabelEncoder()

data[target] = label_encoder.fit_transform(data[target])

target_mappings = {index: label for index, label in enumerate(label_encoder.classes_)}
target_mappings

{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G'}

In [ ]:
data = data.drop(issue_d, axis=1)

NameError: ignored

In [ ]:
y = data['grade']
X = data.drop('grade', axis=1)

In [ ]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)